name: Rust

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      
    runs-on: ${{ matrix.os }}


    steps:
      - name: Build
        uses: actions/checkout@v4
    
      - name: Setup Nix Environment
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: DeterminateSystems/nix-installer-action@main

      - name: Install GLib/GTK System Dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libglib2.0-dev

      - name: Install GLib Dependencies via vcpkg (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        uses: sergey-shandar/vcpkg-action@v1
        with:
          packages: glib
          triplet: x64-windows


      - name: Install stable Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build Project (Release)
        run: cargo build --verbose --release
        
      - name: Run Tests
        run: cargo test --verbose

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-release-artifacts
          # Adjust the path if your workspace is nested
          path: target/release/*
